<div class="booyah-box col-12 offset-1">
<h1>Featured Crafts</h1>
<br />
  <div class="row">
    <% @crafts.each do |craft| %>
      <div class="booyah-box">
      <div class="col-12 col-sm-4">
        <h2><%= craft.name %></h2>
        <p><%= craft.description %></p><br />
      </div>
      </div>
    <% end %>
  </div> 


<h1>Coming Soon</h1>
</div>