<h1>Shop Now</h1>
<br />

  <div class="row">
    <% @crafts.each do |craft| %>
      <div class="col-3">
        <h2><%= link_to craft.name, craft_path(craft) %></h2>
        <p><%= craft.cost %></p>
        <%= image_tag(craft.thumbnail) %>

      </div>
    <% end %>
  </div> 